---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import { getHomePage } from "../lib/sanity";

const home = await getHomePage();
---

<Layout title="Welcome to Our Site">
  <main>
    <Hero data={home} />
    {home.features && <Features features={home.features} />}

    <button> Trigger Build </button>
  </main>
</Layout>

<script>
  const triggerBuild = async () => {
    console.log("Triggering build");
    await fetch(
      "https://ntl-marketing-site-example.netlify.app/.netlify/functions/trigger-build-hourly"
    );
  };

  document.querySelector("button")?.addEventListener("click", triggerBuild);
</script>
