---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import { getHomePage } from "../lib/sanity";

const home = await getHomePage();
---

<Layout title="Welcome to Our Site">
  <main>
    <Hero data={home} />
    {home.features && <Features features={home.features} />}
  </main>
</Layout>
