---
import { urlForImage } from "../lib/sanity";
import type { HomePage } from "../types";

interface Props {
  data: HomePage;
}

const { data } = Astro.props;
---

<section class="py-16 text-center">
  <div class="mx-auto container">
    <h1 class="mb-4 text-3xl">{data.title}</h1>
    <p>{data.description}</p>
    {
      data.heroImage && (
        <img
          src={urlForImage(data.heroImage).width(1200).url()}
          alt="Hero image"
          class="mt-8 max-w-full"
        />
      )
    }
  </div>
</section>
